# Ignora file Python compilati in qualsiasi sottocartella
*.pyc
**/__pycache__/

# Ignora cartelle specifiche in qualsiasi posizione
**/.venv/
**/node_modules/

# Ignora file di configurazione locali e log di sviluppo
config.local.json
**/training_tensors/
**/logs/
**/lightning_logs/
**/.vscode/

# Ignora file temporanei e di output del modello/analisi
*.tmp
*.mat
*.pkl
*.pt
*.npz
*.png
*.jpg
*.pdf
*.csv
*.xlsx
*.log
*.out
*.es2
*.ebs2
*.docx
*.txt
*.tex
*.npy
*.json
*.wandb
*.wndpos
*.md

# Ignora le cartelle di log specifiche del tuo progetto
logs-gdbn/
logs-idbn/
logs-imdbn/
wandb/


# Ignora i file di output specifici del tuo progetto
**/model_coefficients_results_5.xlsx

# Ignora le cartelle di output di Jupyter Notebook
**/notebooks/
**/outputs