# Ignora file Python compilati
*.pyc
__pycache__/

# Ignora cartelle specifiche
.venv/
node_modules/

# Ignora file di configurazione locali
config.local.json

# Ignora file temporanei
*.tmp
training_tensors/

*.mat 
*.pkl
logs/
lightning_logs/
.vscode/
.*pt
.*png
logs-gdbn/
src/notebooks/model_coefficients_results_5.xlsx
